.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.display-flex {
  display: flex;
}
.text-gray {
  color: #252432;
}
.text-light-gray {
  color: #8987a1;
}
.text-orange {
  color: #e95a08;
}
.text-description {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  /* height: 71px; */
  margin: 0 100px;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}
.cart {
  margin-left: 5px;
  color: #000000;
}
.banner-title {
  font-size: 4.06rem;
  font-weight: 700;
}
.banner-container {
  align-items: center;
  padding-top: 40px;
  width: 1140px;
  height: 461px;
  margin-left: 130px;
}

/* card items */
.card-container {
  margin: 5px 50px;
}
.card-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}
.card-content {
  text-align: center;
  margin-bottom: 50px;
}
.card-title {
  font-size: 3.125rem;
  font-weight: 700;
}
.card-btn {
  background-color: #e95a08;
  color: white;
  width: 270px;
  height: 50px;
  border: none;
  margin-bottom: 5px;
}
.card-box {
  width: 270px;
  height: 484px;
  text-align: center;
  /* margin-bottom: 10px; */
}
.card-box img {
  width: 270px;
  height: 310px;
}
.card-h3 {
  margin-top: 0px;
}
.card-h2 {
  margin-top: 0px;
}

.join {
  height: 533px;
  background-image: url(assets/news-letter-bg.png);
  display: flex;
  justify-content: center;
  background-size: auto;
  align-items: center;
  width: 100%;
  /* margin-left: 0px; */
}
.join-title {
  font-size: 3.125rem;
  font-weight: 700;
  color: white;
  margin-left: 150px;
}
.input-section input {
  width: 634px;
  height: 45px;
  border: none;
  font-size: 16px;
  padding-left: 20px;
  /* margin-left: 18%; */
}
.input-btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 50px;
  width: 185px;
  height: 47px;
}

.footer-item {
  list-style: none;
  margin-bottom: 32px;
}
.footer-link {
  text-decoration: none;
  color: #6b7280;
}
.footer-section {
  justify-content: space-around;
  margin: 50px 160px;
  gap: auto;
}
.media img {
  margin-right: 24px;
}
/* Challenges */
.small {
  height: 200px;
  width: 366px;
}
.large {
  height: 423px;
  width: 753px;
}
.bg1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/deal-bloom.png);
}
.bg2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/deal-ana.png);
}
.bg3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/deal-zabo.png);
}
.shop {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
.shop3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
}
.box-title-3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}
.box-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}
.deal-container {
  gap: 28px;
  margin: 100px 150px;
}
.deal-title {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 0px;
}
.deal-content {
  text-align: center;
}
.box {
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column-box {
  flex-direction: column;
  gap: 22px;
}

.plant-lover-section {
  gap: 50px;
  margin: 180px 140px;
}
.store {
  width: 520px;
  height: 580px;
}
.badge {
  width: 285px;
  height: 285px;
  margin-left: -810px;
  margin-top: -120px;
}
.plant-title {
  font-size: 3.125rem;
  font-weight: 700;
}
/* responsive styles */
@media screen and (max-width: 576px) {
  .display-none {
    display: none;
  }
  .nav-link {
    width: 113px;
    height: 24px;
  }
  .navbar {
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    gap: 80px;
    /* max-width: 1400px; */
    /* border: 1px solid black; */
    width: 361px;
  }

  .banner-container {
    flex-direction: column-reverse;
    margin-top: 100px;
    margin-left: 0px;
    max-width: 450px;
    gap: 30px;
  }
  .banner-container img {
    width: 393px;
    height: 245px;
  }
  .banner-title {
    font-size: 1.55rem;
    font-weight: 700;
  }
  .banner-description {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .banner {
    /* align-items: left; */
    width: 360px;
    text-align: left;
    /* height: 68px; */
  }

  .card-container {
    width: 393px;
    margin-left: 0px;
    align-items: center;
  }
  .card-items {
    grid-template-columns: repeat(2, 1fr);
    width: 362px;
    gap: 10px;
    margin-left: 10px;
  }
  .card-content {
    height: 117px;
    width: 393px;
    text-align: center;
  }
  .card-box {
    width: 170px;
    height: 340px;
  }
  .card-box img {
    width: 171px;
    height: 186px;
  }
  .card-btn {
    width: 171px;
  }
  .card-description {
    font-size: 0.875rem;
    font-weight: 400;
  }

  .join {
    width: 393px;
    height: 275px;
    /* background-image: 100%; */
    background-size: 393px 275px;
  }
  .join-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 30px;
  }
  .input-section {
    width: 321px;
    height: 50px;
    /* display: flex; */
  }
  .input-section input {
    width: 218px;
  }
  .input-btn {
    width: 100px;
    padding: 10px 10px;
  }
  .footer-section {
    flex-direction: column;
    width: 359px;
    height: 765px;
    margin-left: 50px;
  }
  .deal-container {
    flex-direction: column;
    width: 369px;
    margin-left: 0px;
  }
  .small,
  .large {
    height: 200px;
    width: 367px;
  }
  .box-title,
  .box-title-3 {
    font-size: 1.25rem;
  }
  .shop,
  .shop3 {
    font-size: 1rem;
  }

  .plant-lover-section {
    flex-direction: column;
    width: 360px;
    gap: 0px;
    margin-left: 0px;
  }
  .store {
    width: 358px;
    height: 396px;
  }
  .badge {
    display: none;
  }
}
